body {
    margin: 0;
}
details {
    background-color: #DED;
}
.controls {
    display: flex;
    align-items: stretch;
}
.control {
    padding: 1em;
    margin: 1px;
    width: 33%;
    min-width: 300px;
    border: 1px solid;
}
.control h2 {
    margin: 0;
}

.source {
    background-color: #CDC;
    padding: 1em;
}
.source textarea {
    width: 100%;
    height: 15em;
    resize: vertical;
}

.source input {
    width: 100%;
}

.diagram {
    margin-top: 3em;
}